/* font here */
@import "tailwindcss";
html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-center {
    @apply flex flex-col items-center justify-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
@layer components {
}
